---
- block:
    - name: install Redis (RedHat)
      include: install.rpm.yml
      tags: redis_install
#   - name: install Redis (Debian)
#     include: install.deb.yml
#     tags: redis_install
#   - name: install Redis (Ubuntu)
#     include: install.ubu.yml
#     tags: redis_install
  when: redis_install_enabled

- name: configure Redis server
  include: server.yml
  tags: [redis_server]
  when: redis_srv_enabled

- name: configure Redis sentinel
  include: sentinel.yml
  tags: [redis_sentinel]
  when: redis_sent_enabled
